@page
@model HospiEnCasa.App.FrontEnd.Pages.EditModel
@{
   
}

<h2>Edición de los datos del Paciente: @Model.Paciente.Nombre @Model.Paciente.Apellidos</h2>
<form method="post">
    <input type="hidden" asp-for="Paciente.Id" />
    <div class="form-group">
        <label asp-for="Paciente.Nombre"></label>
        <input asp-for="Paciente.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paciente.Apellidos"></label>
        <input asp-for="Paciente.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paciente.NumeroTelefono"></label>
        <input asp-for="Paciente.NumeroTelefono" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.NumeroTelefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paciente.Ciudad"></label>
        <input asp-for="Paciente.Ciudad" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.Ciudad"></span>
    </div>
    <div class="form-group">
        <label asp-for="Paciente.FechaNacimiento"></label>
        <input asp-for="Paciente.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.Direccion"></span>
    </div>

    <div class="form-group">
        <label asp-for="Paciente.Direccion"></label>
        <input asp-for="Paciente.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.Direccion"></span>
    </div>
   <div class="form-group">
        <label asp-for="Paciente.Medico.Id"></label>
        <input asp-for="Paciente.Medico.Id" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.Medico"></span>
    </div>

    <button type="submit" class="btn btn-primary">Grabar</button>

    
</form>
<a asp-page="./List" class="btn btn-primary"> Regresar a la lista de Pacientes </a>

